.commentsMain{
    margin-top: 3em;
}


.commentsContainer{
    display: flex;
    gap: 3em;

}


.commentsContainer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.commentsCard{
    width:400px
}

.commentsCard:hover{
    /*box-shadow: 0 1.2rem 1.5rem rgba(0, 0, 0, 0.15) !important;*/

}

@media (max-width: 600px) {
    .commentsContainer{
        gap: 1em;
    }

}

