.selectContainerCard{
    max-width: 300px;

    min-width: 300px;
    /*min-height: 100px;*/

}

.selectContainerCard ul{
    overflow-y: auto;
    /*height:300px;*/
    max-height: 300px;




}


.selectContainerCardItem:hover{
    background: #dee2e6;
}


.selectContainerCardItemSelected{
    background: #ccdaf5 !important;
}



.allCategories{

    /*overflow-x: scroll;*/
}